/* src/pages/DashboardPage.module.css */
.dashboardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap; /* Para que acciones pasen abajo en móvil */
    gap: 15px;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border-color);
}

.title {
  font-size: 2.2rem;
  color: white;
  margin: 0; /* Quita margen por defecto */
}

.headerActions {
    display: flex;
    gap: 15px;
}

.infoMessage {
    margin-bottom: 1.5rem;
    text-align: center;
}

.assetsSection {
    margin-top: 2rem;
}

.sectionTitle {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--primary-text-color);
}

.noAssetsMessage {
    text-align: center;
    color: var(--secondary-text-color);
    margin-top: 30px;
    font-size: 1.1rem;
}
.noAssetsMessage a {
    color: var(--accent-color);
    font-weight: bold;
}


@media (max-width: 768px) {
    .dashboardHeader {
        flex-direction: column;
        align-items: flex-start; /* Alinea a la izquierda */
        gap: 20px;
    }
    .title {
        font-size: 1.9rem;
    }
    .headerActions {
        width: 100%;
        justify-content: space-between; /* Distribuye botones */
    }
    .headerActions > * { /* Enlaces o botones */
        flex-grow: 1; /* Ocupan espacio */
        text-align: center;
    }
}